# Mongo DB

In [ ]:
# !pip install dnspython

In [ ]:
# when we compare mongo db to a sql system, we will find some limitations on it.
# In terms of a sql when we are trying to do something we are going to face certain challenges like
# First of all we have to create a table/schema and then only we will be able to insert a data
# Second, You can only insert a structured data, suppose if your dataset is available in tables
# only then you will be able to insert a data, otherwise you wont be able to insert a data into the database
# unstructured data you wont be able to insert
# Another challenge which we will face is in terms of a search operation, suppose we are dealing with a millions of data
# so if i am trying to find search operations, we try to perform sequential search operations, agagin that will increase
# The complexcity of the problem or program

## (Keeping all these things in mind we have other options, there are so many No-SQL System, there are so many No-SQl Db)
# that we can try to find out which exist, there are different db designed for specific purposes, so one of those DB are
# Mongo Db

In [ ]:
# we will try to understand what is mongo Db?
# We will try to do a set up of mongo db
# Then we will perform similar kind of update delete and all such operations which may exist in terms of mongo db

In [ ]:
# This is a colud setup.

In [ ]:
# Mongo db is just some sort of a dataframe

In [ ]:
# Mongodb is used by ineuron team also to host their server or the dashboards in a scalable mode.

In [ ]:
# > Create a cluster, > create a user > create a ip (Refer video :feb 13, 35 mins)

In [ ]:
# We need to do the white listing

In [ ]:
# connnect with my application, python code

In [ ]:
# client = pymongo.MongoClient("mongodb+srv://root:<password>@cluster0.qonfv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
# db = client.test

In [ ]:
# "mongodb+srv://root:<password>@cluster0.qonfv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority" -
# This is the url which will help us in connecting to the databases to mongodb, if we have this url only 
# Then we will be able to connect

In [ ]:
#installation of drivers.
#pymongo is a driver

# Connection to mongo db

In [ ]:
#!pip install pymongo[srv]

In [ ]:
# in password = Remove <and> and just type the password to connect
import pymongo
client = pymongo.MongoClient("mongodb+srv://test:test@cluster0.g8u3i.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [ ]:
print(db)

In [ ]:
db1 = client.test1

In [ ]:
db2 = client['ashi']

In [ ]:
#By default admin and local are available
client.list_database_names()

In [ ]:
# operations to create, update and delete

In [ ]:
#we will find a concept of database and which is equalent of  tables which is called as collections incase of mongo db
#here we dont say it as tables, here it is called as collections

In [ ]:
#The DIFFERENCE:

# SQL:
# It is called as table
# Here we have to define a schema, here we have to write something called as create table table name which creates a table.
# here we try to insert the values row by row or multiple rows.
# here we can only enter a static number of schema, meaning howmany colums are there only those many datapoints can be added

#MongoDB :
# It is called as collection
# here it is not necessary, but yes you can give a table name which is referred as a collection
# Tables here is called as collections.
# Incase of mongo db it is called as documents = here rows is called as documents
# It is independent of the schema, we are not creating a table or declaring a variable here.
# We can insert unstructured data here and its completely fine
# Id here helps in doing the indexing operation
# you can update the dataset directy or change the datatype overthere.

In [ ]:
# Inside a database if we want to create multiple table we can do it

In [ ]:
#coll1 is the variable name, db2 is the name of the data base, "ineuron_collections" is the table name
coll1= db2['ineuron_collection']

In [ ]:
# inside collectiosns we need to insert data.

In [ ]:
dict1= {
    "name" : "ashish",
    "email_id" : "ashishroy@gmail.com",
    "product" : ["oneneuron","techneuron","kids_neuron","drone_neuron"],
    "company" :"ineuron intellegence private limited"
}

In [ ]:
#This is the data which we are able to see
coll1.insert_one(dict1)

In [ ]:
#this one single or multiple document is called as document

In [ ]:
# can we add one more instance for the same db and document

In [ ]:
dict2= {
    "name" : "ashish",
    "email_id" : "ashishroy@gmail.com",
    "product" : ["oneneuron","techneuron","kids_neuron","drone_neuron"],
    "company" :"ineuron intellegence private limited",
    "phone_number" : "234234234"
}

In [ ]:
coll1.insert_one(dict2)

In [ ]:
#Object id : we are able to over write the ID, it is possible to give our own id rather than considering the id of
# which the mongo db is trying to provide us
dict3 = {
    "_id" : "askldnaskldklasdklas",
    "name" : "ashish",
    "email_id" : "ashishroy@gmail.com",
    "product" : ["oneneuron","techneuron","kids_neuron","drone_neuron"],
    "company" :"ineuron intellegence private limited",
    "phone_number" : "234234234"
}

In [ ]:
coll1.insert_one(dict3)

In [ ]:
# How to store the list of record
#refer the video at 1:30 Minutes

In [ ]:
#this time we need to pass many

In [ ]:
list1 = [
    {
        "item" : "canvas",
        "qty" : 100,
        "size" : {"gh": 28,"w": 23,"uom":"cm"},
        "status" : "A"
    },
    {
        "item" : "journal",
        "qty" : 12,
        "size" : {"gh": 28,"w": 23,"uom":"cm"},
        "status" : "A"
    },
    {
        "item" : "zz",
        "qty" : 123,
        "size" : {"gh": 28,"w": 23,"uom":"cm"},
        "status" : "A"
    }
        ]

In [ ]:
coll1.insert_many(list1)

In [ ]:
list2 = [
    {
    "name" : "ashish",
    "email_id" : "ashishroy@gmail.com",
    "product" : ["oneneuron","techneuron","kids_neuron","drone_neuron"],
    "company" :"ineuron intellegence private limited",
    "phone_number" : "234234234"
},
    {
    "name" : "ashish",
    "email_id" : "ashishroy@gmail.com",
    "product" : ["oneneuron","techneuron","kids_neuron","drone_neuron"],
    "company" :"ineuron intellegence private limited",
    "phone_number" : "234234234"
}
]

In [ ]:
coll1.insert_many(list2)

In [ ]:
# #Types of nosql available
# mongodb
# cassandra etc

#it give an advantage over sql over
#indexing
#latency
#storage
#structureness
#unstructureness

#at the end of the day we need to store the data and it is getting complex day by day

In [ ]:
#lets suppose we need to store and mp4, encypted format,everything is stored here
# in deeplearning, we will learn how to create your files into a b64 and that info we will be storing into mongodb

In [ ]:
#we can store any kind of files, we just need to do a little tweak

In [ ]:
# It is creating an id, id is nothing but a primary key equivalent to sql system

In [ ]:
# you can create your own id, you can override your own id

In [ ]:
#if we have to fetch a record
coll1.find()

In [ ]:
for i in coll1.find():
    print(i)

In [ ]:
#Some specific records
#coll1 is my collection name, meaning table
coll1.find({"name":"ashish"})

In [ ]:
for i in coll1.find({"name":"ashish"}):
    print(i)

In [ ]:
# it will try to match the pattern, if the patteren is not available then you cannot get anyresults

In [ ]:
#This is completely equivalent to filter operation

In [ ]:
#here this will search whether we have name as a key or not, if we have name as a key
#It will check if my values belongs to any of this or not
coll1.find({"name":{"$in" : ["ashi","Ashish","Ashi","ashish"]}})

In [ ]:
for i in coll1.find({"name":{"$in" : ["ashi","Ashish","Ashi","ashish"]}}): #1filter statement
    print(i)

In [ ]:
#To check if that string is available in this or not, single and multiple # Two filter statement
for i in coll1.find({"name":{"$in" : ["ashi","Ashish","Ashi","ashish"]},'email_id': 'ashishroy@gmail.com'}):
    print(i)

In [ ]:
#It will choose any one record and tell me/give me an answer
coll1.find_one()

In [ ]:
coll1.find({"qty":{"$gt": 25}})

In [ ]:
#query to find greater than
for i in coll1.find({"qty":{"$gt": 25}}):
    print(i)

In [ ]:
#query to find lesser than
for i in coll1.find({"qty":{"$lt": 25}}):
    print(i)

In [ ]:
#query to find lesser than and equal to
for i in coll1.find({"qty":{"$lte": 25}}):
    print(i)

In [ ]:
#query to find greater than and equal to
for i in coll1.find({"qty":{"$gte" : 25}}):
    print(i)

In [ ]:
#Update Operations
for i in coll1.find():
    print(i)

In [ ]:
# Update one - it will find the first option and try to update the same
# Update many - it will find all the options and update everything

In [ ]:
coll1.update_many({"name":"ashish"},{"$set":{"name":"Ashish Roy"}})

In [ ]:
#Update Operations
for i in coll1.find():
    print(i)

In [ ]:
#Please make sure you update it in a key value pair

In [ ]:
#Search a particular record
for i in coll1.find():
    print(i)

In [ ]:
#Search a particular record and you can set a limit to your search
for i in coll1.find().limit(2):
    print(i)

In [ ]:
#Looking for a statment where not greater than or not lesser than
coll1.find({"qty":{"$not" : {"$gt": 150}}})

In [ ]:
for i in coll1.find({"qty":{"$not" : {"$gt": 130}}}):
    print(i)

In [ ]:
#Looking for a statment where not greater than or equal to
coll1.find({"qty":{"$not" : {"$gte": 150}}})

In [ ]:
for i in coll1.find({"qty":{"$not" : {"$gte": 150}}}):
    print(i)

In [ ]:
#Looking for a statment where not lesser than or equal to
coll1.find({"qty":{"$not" : {"$lte": 10}}})

In [ ]:
for i in coll1.find({"qty":{"$not" : {"$lte": 10}}}):
    print(i)

In [ ]:
#lesser than
for i in coll1.find({"qty":{"$not" : {"$lt": 10}}}):
    print(i)

In [ ]:
#Update operation 2nd type:
for i in coll1.find():
    print(i)

In [ ]:
#Update operation 2nd type:
coll1.find_one_and_update({"item":"journal"},{"$set":{"qty":250}})

In [ ]:
for i in coll1.find():
    print(i)

In [ ]:
coll1.find({"item":"journal"},{"$set":{"qty":250}})

In [ ]:
for i in coll1.find():
    print(i)

In [ ]:
# where qty is more than greater than 10 set the qty to 400
coll1.update_many({'qty':{"$gt":10}}, {"$set" : {"qty": 400}})

In [ ]:
for i in coll1.find():
    print(i)

In [ ]:
# Delete operation, Db, Collection, one record

In [ ]:
coll1.delete_one({"name":"Ashish Roy"})

In [ ]:
coll1.delete_many({"item":"journal"})

In [ ]:
for i in coll1.find():
    print(i)

In [ ]:
#This is a link where we can search and find answers

#https://www.mongodb.com/docs/manual/tutorial/insert-documents/

# TASK ASSIGNMENT

Problem Statement:

visit the link:https://archive.ics.uci.edu/ml/datasets/Carbon+Nanotubes

download the dataset
insert bulk data(csv file in mongodb)
different operation.

4.1 insertiion
4.2 update
4.3 deletion
4.4 find operation
4.5 filter

___________________________________________________________________________________________________________________________
code evalution

modular coding
execption handling
proper log

___________________________________________________________________________________________________________________________

Data columns
Chiral indice n;
Chiral indice m;
Initial atomic coordinate u;
Initial atomic coordinate v;
Initial atomic coordinate w;
Calculated atomic coordinates u';
Calculated atomic coordinates v';
Calculated atomic coordinates w'

In [1]:
#Importing modules
import pymongo
import logging

In [2]:
# creating logging config

logging.basicConfig(filename = 'pymongo_logfile.log',
                    filemode = 'a',
                    level = logging.INFO,
                    format = '%(asctime)s %(levelname)s-%(message)s',
                    datefmt = '%Y-%m-%d %H:%M:%S'
                   )

#creating logger object
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

In [7]:
## MongoDB class with basic mongo operations methods

class MongoDB:
    
    def __init__(self, client_url):
        """
        MongoDB(client_url)
        MongoDB(arg1)
        
        This Method sets the required client url and establish connection.
        
        :param:
            arg1(client_url) : client_url.
        :return:
        """
        self.client = client_url
        try:
            self.client = pymongo.MongoClient(self.client)
        except Exception as e:
            print("Connection issue", e)
            logger.error('connection Issue' + str(e))
        else:
            print("Connection Established!")
            logger.info('connection Established' + str(self.client))
            
            
    def create_database(self, db_name):
        """
        create_datebase(database_name)
        create_database(arg1)
        
        This Method creates database.
        
        :param:
            args1(database_name) : database_name.
        :return:
        """
        try:
            self.database = self.client[str(db_name)]
        except Exception as e:
            print("Datbase Creation issue",e)
            logger.error('Database Creation issue : ' + str(e))
        else:
            print("Database Created")
            logger.info('Database Created :' + db_name + str(self.database))
            
            
    def create_collection(self, collection_name):
        """
        create_collection(collection_name)
        create_collection(arg1)
        
        This method creates the collection in the database given.
        
        :param:
            arg1(database_name) : database_name.
        :return:
        """
        try:
            self.collection = self.database[str(collection_name)]
        except Exception as e:
            print("collection Creation issue",e)
            logger.error('collection Creation Issue' + str(e))
        else:
            print("Collection Created")
            logger.info('collection Created :' + collection_name + str(self.collection))
            
            
    def insert(self,record):
        """
        insert(record)
        insert(arg1 : <list/dir>)
        
        This method inserts record(s).
        
        :param record(s):
        arg1 <list> : Insert multiple records.
        arg1 <dict> : Insert single record.
        :return:
        """
        try:
            if type(record) == dict:
                self.collection.insert_one(record)
                record_count = 1
            elif type(record) == list:
                self.collection.insert_many(record)
                record_count = len(record)
        except Exception as e:
            print("Data Insertion Issue",e)
            logger.error('Data Insertion Issue' + str(e))
        else:
            print("Data Inserted: {} records".format(record_count))
            logger.info('Data Inserted: ' + str(record_count) + 'records')
            
            
    def update(self, present_data, new_data, update_all = False):
        """
        update(present_data, new_data, update_all(optional))
        update(arg1,arg2,arg3(optional))
        
        This method update record(s).
        
        :param:
            arg1 : present data.
            arg2 : new data
            update_all(optional) : True -> Update all records
                                   False(default) -> update single record.
                                   
        :return:
        """
        try:
            new_data = {'$set' : new_data}
            if update_all == True:
                self.collection.update_many(present_data, new_data)
            else:
                self.collection.update_one(present_data, new_data)
        except Exception as e:
            print("Update Failed", e)
            logger.error('Update failed' + str(e))
        else:
            logger.info('Data Udpated')
            
            
    def delete(self, delete_date, delete_all = False):
        """
        delete(delete_data, delete_all(optional))
        delete(args1,args2(optional))
        
        This method delete record(s).
        
        :param:
            args1 : delete_data.
            delete_all(optional) : True -> Delete all records
                                   False(default) -> Delete single record.
        :return:      
        """
        try:
            if delete_all == True:
                self.collection.delete_many(delete_date)
            else:
                self.collection.delete_one(delete_data)
        except Exception as e:
            print("Delete failed", e)
            logger.error("Delete failed:" + str(e))
        else:
            print("Delete Done")
            logger.info('Record Deleted')
            
    
    def find(self, query):
        """
        find(query)
        
        This filter/find out the record(s).
        
        :param:
            arg1: find query.
        :return:
        """
        logger.info("Finding the records for query" + str(query))
        return self.collection.find(query)
    
    
    def display(self, count):
        """
        display(count)
        
        This display/fetch out the N record(s).
        
        :param:
            arg1: count.
        :return:
        """
        logger.info('Displaying the top' + str(count) + 'records')
        return self.collection.find().limit(count)

# Creating  a Database and Collection

In [10]:
## Establisting Connection with mongodb atlas and creating cluter object of MongoDB class
client_url = "mongodb+srv://test:test@cluster0.g8u3i.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
cluster = MongoDB(client_url)

Connection Established!

In [11]:
## Creating database
cluster.create_database('carbon_nano_db')

Database Created

In [12]:
## Creating Collection
cluster.create_collection('nanotube_collection')

Collection Created

# Task 3: Insert the bulk CSV (carbon_nanotube_data)

Data columns
Chiral indice n;
Chiral indice m;
Initial atomic coordinate u;
Initial atomic coordinate v;
Initial atomic coordinate w;
Calculated atomic coordinates u';
Calculated atomic coordinates v';
Calculated atomic coordinates w'


# Inserting all the carbon nanotube records into collection

In [13]:
import csv
with open('carbon_nanotubes.csv','r') as f:
    data = csv.reader(f,delimiter = '\n')
    itr = 0
    records = []
    
    for i in data:
        if itr == 0:
            itr += 1
            continue
        row_data = i[0].split(';')
        record = {
            'm': int(row_data[0]),      # Chiral indice n
            'n': int(row_data[1]),      # Chiral indice m
            'u': row_data[2],           # Initial atomic coordinate u
            'v': row_data[3],           # Initial atomic coordinate v
            'w': row_data[4],           # Initial atomic coordinate w
            "u'": row_data[5],          # Calculated atomic coordinates u'
            "v'": row_data[6],          # Calculated atomic coordinates v'
            "w'": row_data[7],          # Calculated atomic coordinates w'
        }
        records.append(record)

In [14]:
cluster.insert(records)

Data Inserted: 10721 records

# Task 4: Different MongoDB Operations

### 4.1 Data Insertion

In [18]:
record = {
    'm': 1,
    'n': 1,
    'u': '0,111111',
    'v': '0,111111',
    'w': '0,111111',
    "u'": '0,111111',
    "v'": '0,111111',
    "w'": '0,111111',
}
cluster.insert(record)

Data Inserted: 1 records

# 4.2 update

In [20]:
 ###Updating only one record (Update_all = False)

In [21]:
present_data = {'u': '0,111111'}
new_data = {'u': '0,323232', "u'": '0,323232', "v": '0,222222'}

In [22]:
cluster.update(present_data, new_data, update_all=False)

# updating all the records (Update_all = True)

In [ ]:
cluster.update(present_data, new_data, update_all= True)

# 4.3 Delete Data

In [23]:
# We have 4 records with m = 1

In [ ]:
# Deleting 1 record with m = 1 (delete_all = False)

In [24]:
delete_data = {'m': 1}
cluster.delete(delete_data, delete_all=False)

Delete Done

In [26]:
# Deleting all the records with m = 1

In [27]:
delete_data = {'m': 1}
cluster.delete(delete_data, delete_all=True)

Delete Done

# 4.4 Find Operator

In [28]:
## Checking if record for m = 1 exits
query = {'m': '1'}

for i in cluster.find(query):
    print(i)

In [29]:
query = {'m': {'$lte': 2}}

for i in cluster.find(query):
    print(i)

{'_id': ObjectId('6286f321fff1c71aba90f206'), 'm': 2, 'n': 1, 'u': '0,679005', 'v': '0,701318', 'w': '0,017033', "u'": '0,721039', "v'": '0,730232', "w'": '0,017014'}
{'_id': ObjectId('6286f321fff1c71aba90f207'), 'm': 2, 'n': 1, 'u': '0,717298', 'v': '0,642129', 'w': '0,231319', "u'": '0,738414', "v'": '0,65675', "w'": '0,232369'}
{'_id': ObjectId('6286f321fff1c71aba90f208'), 'm': 2, 'n': 1, 'u': '0,489336', 'v': '0,303751', 'w': '0,088462', "u'": '0,477676', "v'": '0,263221', "w'": '0,088712'}
{'_id': ObjectId('6286f321fff1c71aba90f209'), 'm': 2, 'n': 1, 'u': '0,413957', 'v': '0,632996', 'w': '0,040843', "u'": '0,408823', "v'": '0,657897', "w'": '0,039796'}
{'_id': ObjectId('6286f321fff1c71aba90f20a'), 'm': 2, 'n': 1, 'u': '0,334292', 'v': '0,543401', 'w': '0,15989', "u'": '0,303349', "v'": '0,558807', "w'": '0,157373'}
{'_id': ObjectId('6286f321fff1c71aba90f20b'), 'm': 2, 'n': 1, 'u': '0,510664', 'v': '0,696249', 'w': '0,255128', "u'": '0,496977', "v'": '0,725608', "w'": '0,25597'}
{'_id': ObjectId('6286f321fff1c71aba90f20c'), 'm': 2, 'n': 1, 'u': '0,413957', 'v': '0,632996', 'w': '0,374176', "u'": '0,390878', "v'": '0,657645', "w'": '0,374735'}
{'_id': ObjectId('6286f321fff1c71aba90f20d'), 'm': 2, 'n': 1, 'u': '0,712552', 'v': '0,55479', 'w': '0,112271', "u'": '0,750056', "v'": '0,561494', "w'": '0,114944'}
{'_id': ObjectId('6286f321fff1c71aba90f20e'), 'm': 2, 'n': 1, 'u': '0,320995', 'v': '0,298682', 'w': '0,1837', "u'": '0,281301', "v'": '0,261433', "w'": '0,182779'}
{'_id': ObjectId('6286f321fff1c71aba90f20f'), 'm': 2, 'n': 1, 'u': '0,394742', 'v': '0,279367', 'w': '0,302747', "u'": '0,35086', "v'": '0,2335', "w'": '0,302196'}
{'_id': ObjectId('6286f321fff1c71aba90f210'), 'm': 2, 'n': 1, 'u': '0,282702', 'v': '0,357871', 'w': '0,397985', "u'": '0,229138', "v'": '0,328729', "w'": '0,398581'}
{'_id': ObjectId('6286f321fff1c71aba90f211'), 'm': 2, 'n': 1, 'u': '0,320995', 'v': '0,298682', 'w': '0,517033', "u'": '0,278752', "v'": '0,269615', "w'": '0,51733'}
{'_id': ObjectId('6286f321fff1c71aba90f212'), 'm': 2, 'n': 1, 'u': '0,605258', 'v': '0,720633', 'w': '0,469414', "u'": '0,613415', "v'": '0,760009', "w'": '0,469452'}
{'_id': ObjectId('6286f321fff1c71aba90f213'), 'm': 2, 'n': 1, 'u': '0,510664', 'v': '0,696249', 'w': '0,588462', "u'": '0,521991', "v'": '0,736991', "w'": '0,588946'}
{'_id': ObjectId('6286f321fff1c71aba90f214'), 'm': 2, 'n': 1, 'u': '0,679005', 'v': '0,701318', 'w': '0,6837', "u'": '0,718811', "v'": '0,738577', "w'": '0,68244'}
{'_id': ObjectId('6286f321fff1c71aba90f215'), 'm': 2, 'n': 1, 'u': '0,605258', 'v': '0,720633', 'w': '0,802747', "u'": '0,649178', "v'": '0,766301', "w'": '0,80193'}
{'_id': ObjectId('6286f321fff1c71aba90f216'), 'm': 2, 'n': 1, 'u': '0,665708', 'v': '0,456599', 'w': '0,326557', "u'": '0,680389', "v'": '0,444562', "w'": '0,327502'}
{'_id': ObjectId('6286f321fff1c71aba90f217'), 'm': 2, 'n': 1, 'u': '0,712552', 'v': '0,55479', 'w': '0,445605', "u'": '0,737216', "v'": '0,552056', "w'": '0,443517'}
{'_id': ObjectId('6286f321fff1c71aba90f218'), 'm': 2, 'n': 1, 'u': '0,586043', 'v': '0,367004', 'w': '0,540843', "u'": '0,591153', "v'": '0,342069', "w'": '0,540172'}
{'_id': ObjectId('6286f321fff1c71aba90f219'), 'm': 2, 'n': 1, 'u': '0,665708', 'v': '0,456599', 'w': '0,65989', "u'": '0,697242', "v'": '0,441516', "w'": '0,657521'}
{'_id': ObjectId('6286f321fff1c71aba90f21a'), 'm': 2, 'n': 1, 'u': '0,287448', 'v': '0,44521', 'w': '0,612271', "u'": '0,249571', "v'": '0,438057', "w'": '0,614939'}
{'_id': ObjectId('6286f321fff1c71aba90f21b'), 'm': 2, 'n': 1, 'u': '0,282702', 'v': '0,357871', 'w': '0,731319', "u'": '0,262916', "v'": '0,343512', "w'": '0,732213'}
{'_id': ObjectId('6286f321fff1c71aba90f21c'), 'm': 2, 'n': 1, 'u': '0,334292', 'v': '0,543401', 'w': '0,826557', "u'": '0,320053', "v'": '0,555754', "w'": '0,827503'}
{'_id': ObjectId('6286f321fff1c71aba90f21d'), 'm': 2, 'n': 1, 'u': '0,287448', 'v': '0,44521', 'w': '0,945605', "u'": '0,262054', "v'": '0,44817', "w'": '0,943402'}
{'_id': ObjectId('6286f321fff1c71aba90f21e'), 'm': 2, 'n': 1, 'u': '0,717298', 'v': '0,642129', 'w': '0,897985', "u'": '0,770521', "v'": '0,670869', "w'": '0,898389'}
{'_id': ObjectId('6286f321fff1c71aba90f21f'), 'm': 2, 'n': 1, 'u': '0,489336', 'v': '0,303751', 'w': '0,755128', "u'": '0,50356', "v'": '0,27443', "w'": '0,75629'}
{'_id': ObjectId('6286f321fff1c71aba90f220'), 'm': 2, 'n': 1, 'u': '0,586043', 'v': '0,367004', 'w': '0,874176', "u'": '0,609', "v'": '0,342123', "w'": '0,875088'}
{'_id': ObjectId('6286f321fff1c71aba90f221'), 'm': 2, 'n': 1, 'u': '0,394742', 'v': '0,279367', 'w': '0,969414', "u'": '0,385666', "v'": '0,240071', "w'": '0,969157'}

In [30]:
query = {'u': {'$in': ['0,287448', '0,489336', '0,665708']}}

for i in cluster.find(query):
    print(i)

{'_id': ObjectId('6286f321fff1c71aba90f208'), 'm': 2, 'n': 1, 'u': '0,489336', 'v': '0,303751', 'w': '0,088462', "u'": '0,477676', "v'": '0,263221', "w'": '0,088712'}
{'_id': ObjectId('6286f321fff1c71aba90f216'), 'm': 2, 'n': 1, 'u': '0,665708', 'v': '0,456599', 'w': '0,326557', "u'": '0,680389', "v'": '0,444562', "w'": '0,327502'}
{'_id': ObjectId('6286f321fff1c71aba90f219'), 'm': 2, 'n': 1, 'u': '0,665708', 'v': '0,456599', 'w': '0,65989', "u'": '0,697242', "v'": '0,441516', "w'": '0,657521'}
{'_id': ObjectId('6286f321fff1c71aba90f21a'), 'm': 2, 'n': 1, 'u': '0,287448', 'v': '0,44521', 'w': '0,612271', "u'": '0,249571', "v'": '0,438057', "w'": '0,614939'}
{'_id': ObjectId('6286f321fff1c71aba90f21d'), 'm': 2, 'n': 1, 'u': '0,287448', 'v': '0,44521', 'w': '0,945605', "u'": '0,262054', "v'": '0,44817', "w'": '0,943402'}
{'_id': ObjectId('6286f321fff1c71aba90f21f'), 'm': 2, 'n': 1, 'u': '0,489336', 'v': '0,303751', 'w': '0,755128', "u'": '0,50356', "v'": '0,27443', "w'": '0,75629'}

# 4.5 Display

In [32]:
display_count = 10
for idx, record in enumerate(cluster.display(display_count)):
    print(idx, record)

0 {'_id': ObjectId('6286f321fff1c71aba90f206'), 'm': 2, 'n': 1, 'u': '0,679005', 'v': '0,701318', 'w': '0,017033', "u'": '0,721039', "v'": '0,730232', "w'": '0,017014'}
1 {'_id': ObjectId('6286f321fff1c71aba90f207'), 'm': 2, 'n': 1, 'u': '0,717298', 'v': '0,642129', 'w': '0,231319', "u'": '0,738414', "v'": '0,65675', "w'": '0,232369'}
2 {'_id': ObjectId('6286f321fff1c71aba90f208'), 'm': 2, 'n': 1, 'u': '0,489336', 'v': '0,303751', 'w': '0,088462', "u'": '0,477676', "v'": '0,263221', "w'": '0,088712'}
3 {'_id': ObjectId('6286f321fff1c71aba90f209'), 'm': 2, 'n': 1, 'u': '0,413957', 'v': '0,632996', 'w': '0,040843', "u'": '0,408823', "v'": '0,657897', "w'": '0,039796'}
4 {'_id': ObjectId('6286f321fff1c71aba90f20a'), 'm': 2, 'n': 1, 'u': '0,334292', 'v': '0,543401', 'w': '0,15989', "u'": '0,303349', "v'": '0,558807', "w'": '0,157373'}
5 {'_id': ObjectId('6286f321fff1c71aba90f20b'), 'm': 2, 'n': 1, 'u': '0,510664', 'v': '0,696249', 'w': '0,255128', "u'": '0,496977', "v'": '0,725608', "w'": '0,25597'}
6 {'_id': ObjectId('6286f321fff1c71aba90f20c'), 'm': 2, 'n': 1, 'u': '0,413957', 'v': '0,632996', 'w': '0,374176', "u'": '0,390878', "v'": '0,657645', "w'": '0,374735'}
7 {'_id': ObjectId('6286f321fff1c71aba90f20d'), 'm': 2, 'n': 1, 'u': '0,712552', 'v': '0,55479', 'w': '0,112271', "u'": '0,750056', "v'": '0,561494', "w'": '0,114944'}
8 {'_id': ObjectId('6286f321fff1c71aba90f20e'), 'm': 2, 'n': 1, 'u': '0,320995', 'v': '0,298682', 'w': '0,1837', "u'": '0,281301', "v'": '0,261433', "w'": '0,182779'}
9 {'_id': ObjectId('6286f321fff1c71aba90f20f'), 'm': 2, 'n': 1, 'u': '0,394742', 'v': '0,279367', 'w': '0,302747', "u'": '0,35086', "v'": '0,2335', "w'": '0,302196'}