In [1]:
# Number of letter in a string
s = "This is basic python class"
len(s)

26

In [2]:
# we are trying to count the letters in s
count = 0
for i in s:
    count = count + 1
print(count)

26

In [3]:
count = 0
for i in s:
    count = count + 1
print(count)

26

In [4]:
count = 0
for i in s:
    count += 1
print(count)

26

In [5]:
s[::-1]

'ssalc nohtyp cisab si sihT'

In [6]:
#Print the string in reverse order
#FOR LOOP
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

s
i

s
i
h
T

In [7]:
## While Loop
i = len(s)-1
while (i>=0):
    print(s[i],end="")
    i=i-1

ssalc nohtyp cisab si sihT

In [8]:
#findout which character is a vowel and which is not a vowel
s = "ineuron"
v = "AaEeIiOoUu"

for i in s:
    if i in v:
        print("vowel",i)
    else:
        print("not vowel",i)

vowel i
not vowel n
vowel e
vowel u
not vowel r
vowel o
not vowel n

In [9]:
s = 'AshishRoy'
v = 'AaEeIiOoUu'
for i in s:
    if i in v:
        print('Vowel',i)
    else:
        print('Not Vowel',i)

Vowel A
Not Vowel s
Not Vowel h
Vowel i
Not Vowel s
Not Vowel h
Not Vowel R
Vowel o
Not Vowel y

In [10]:
's' in 'Ashish'

True

In [11]:
s in 'Ashish'

False

In [12]:
s

'AshishRoy'

In [13]:
# Write a code to check if the string is palindrome or not
'tenet'
'malayalam'
'eye'

'eye'

In [14]:
s = input()
v = s[::-1]
if s == v:
    print("palindrome",s)
else:
    print("Not a Palindrome",s)

asdafd
Not a Palindrome asdafd

In [15]:
s = 'koot'
s1 = 'malayalam'
if s1 == s1[::-1]:
    print('palindrome')
else:
    print('Not a palindrome')

palindrome

In [16]:
# word = 'eyeeee'
# for i in range(len(word)):
#     if word[i] == word[len(word)-1-i]:
#         print(word, "is a palendrome")
#         break
#     else:
#         print(word," - Not a palindrome")

In [17]:
#THIS IS A GOOD CODE
word = 'eye'

for i in range(len(word)):
    if word[i] != word[len(word)-i-1]:
        print('Not Palindrome')
        break
else:
    print("palindrome")

palindrome

In [18]:
#This is anohter method
s = input()
f = ""
i = len(s)-1

while (i>=0):
    f = f + s[i]
    i = i -1
if (s==f):
    print('plaindrome')
else:
    print('Not a Palindrome')

asfasf
Not a Palindrome

In [19]:
x = 'ashsa'

w = ''

for i in x:
    w = i + w
    
if (x == w):
    print("yes")
else:
    print("No")

yes

In [20]:
l = len(s)
k = 0
for i in range(l):
    if s[i] == s[l-i-1]:
        continue
    else:
        print('Non Palindrome')
        k=1
        break
if k==0:
    print('Palindrome')

Non Palindrome

In [21]:
s

'asfasf'

In [22]:
# CODE IS CASE SENSITIVE

In [23]:
d = {'INDIA': "IN",
    "CANADA" : "CA",
    "CHINA" : "CH",
    "UNITED STATE" : "US"
    }

In [24]:
"INDIA" in d

True

In [25]:
d.items()

dict_items([('INDIA', 'IN'), ('CANADA', 'CA'), ('CHINA', 'CH'), ('UNITED STATE', 'US')])

In [26]:
l_greater = []
l_smaller = []
for i in d:
    if len(i) <= 5 :
        l_smaller.append(i)
    else:
        l_greater.append(i)

In [27]:
l_smaller

['INDIA', 'CHINA']

In [28]:
l_greater

['CANADA', 'UNITED STATE']

In [36]:
d_1 = {"ineuron":{
                        "a" : 14,
                        "b" : 10,
                        "c" : 4
                    },
    'Course' :   {
                    "d" : 45,
                    "e" : 34,
                    "f" : 1
                   }
    
        }

In [46]:
lst  = []
for i in d_1.values():
    for j in i.values():
        lst.append(j)
    print(max(lst))

14
45

In [47]:
for i in d_1.values():
    
    mx = 0
    for j in i.values():
        if mx < j:
            mx = j
        print(mx)

14
14
14
45
45
45

In [48]:
for i in d_1.values():
    print(max(i.values()))

14
45

In [51]:
for i in d_1.keys():
    print(i)
    print(max(d_1[i].values()))

ineuron
14
Course
45

In [81]:
d_1 = {"ineuron":{"a" : 14,"b" : 10,"c" : 4},'Course' :  {"d" : 45,"e" : 34,"f" : 1},"g" : 34, "h" : [45,5,6,7,8,9,23],'i':(34,56,67,8,2,2),"k":'sudh'}

In [78]:
#although this is right but its not generic
l1 = []
for i in d_1.values():
    if type(i) == dict:
        l1.append(max(i.values()))
    elif type(i) == list:
        l1.append(max(i))
    elif type(i) == tuple:
        l1.append(max(i))
    elif type(i) == str:
        pass
    else:
        l1.append(i)
print(max(l1))

67

In [85]:
l = []
for i in d_1.values():
    if type(i) != str and type(i) != complex:
        if type(i) == list or type(i) == tuple or type(i) == set:
            l.extend(list(i))
        elif type(i) == dict:
            for j in i.values():
                l.append(j)
max(l)

67