### There is another type of collection we all can create that is tuple

- What is tuple?
- how it is going to work and what kind of data you can store inside a tuple.
- What kind of a data manipulation we can perform in terms/respect of tuple
- It is like a list but not exactly a list

#### It is a type collection of datatype where we will be able to hold multiple elements, and the notation is curly brackets ()

In [1]:
t = (1,2,3,4,5)

In [2]:
type(t)

tuple

In [3]:
t1 = ("Ashish", 345, 45+8j, 535.43,True) #Tuple

In [4]:
l = ["Ashish", 345, 45+8j, 535.43,True] #List

In [5]:
type(l)

list

In [6]:
#### 1st Difference is that each of these elements are represented by different brackets

In [7]:
t2 = ()

In [8]:
type(t2)

tuple

In [9]:
l

['Ashish', 345, (45+8j), 535.43, True]

In [10]:
l[0:2] #interms of slicing we need to use square bracket, just in terms of notation

['Ashish', 345]

In [11]:
t1[0:2] #interms of slicing we need to use square bracket, just in terms of notation

('Ashish', 345)

In [12]:
t1[::-1] #in reverse order

(True, 535.43, (45+8j), 345, 'Ashish')

In [13]:
t1[-1]

True

In [14]:
t1

('Ashish', 345, (45+8j), 535.43, True)

In [15]:
t1[0::2]

('Ashish', (45+8j), True)

#### How list and tuples are different

In [16]:
l

['Ashish', 345, (45+8j), 535.43, True]

In [17]:
l1 = [4,5,6,7]

In [19]:
l[0] = 'kumar'

In [20]:
l

['kumar', 345, (45+8j), 535.43, True]

In [23]:
t1[0] = 'zyz' #tuple doesnot support item assignment

TypeError: 'tuple' object does not support item assignment

### Tuples is nothing but immutable collection, It does not support item assignment

In [26]:
a = 'ashi'

In [29]:
a[0] = 'b'

TypeError: 'str' object does not support item assignment

In [30]:
#In tuples it wont work at all,they are immutable objects

In [32]:
t1

('Ashish', 345, (45+8j), 535.43, True)

In [33]:
t2 = (23,34,5,67,7)

In [35]:
t1+t2 #here it is just concatinating (this is something kind of a append operation)

('Ashish', 345, (45+8j), 535.43, True, 23, 34, 5, 67, 7)

In [37]:
l+l1

['kumar', 345, (45+8j), 535.43, True, 4, 5, 6, 7]

In [38]:
t1

('Ashish', 345, (45+8j), 535.43, True)

In [39]:
t1*2

('Ashish', 345, (45+8j), 535.43, True, 'Ashish', 345, (45+8j), 535.43, True)

In [40]:
t1

('Ashish', 345, (45+8j), 535.43, True)

In [45]:
t1.count('Ashish') #there is only count and Index operation because of its immutable property

1

In [51]:
l.index('kumar') #it is going to tell me the number of occurances of a particualr collection

0

In [48]:
l

['kumar', 345, (45+8j), 535.43, True]

In [54]:
t1.index('Ashish') #it basically tells us the first occurance of any elements inside a collection

0

# when do we use tuples?
# when do we use list?

- For data security, wherever we need to create an element 
- Where someone will not be able to access, in that case we use tuples

## Example ::

Gmail Account, Facebook, applications etc

we keep on changing password, if we dont want anyone to access any location and change it we use tuples so that no one will be able to change it any point of a time

In [57]:
# Anywhere where we have a fixed size of collections, that is called as tuples, because it never supports append, expand etc

In [58]:
t = (34,34,54,67,8,8,3,(1,2,3,4),'Ashi')

In [61]:
type(t) # the above is called as nested tuple and it is possible to do so

tuple

In [62]:
t1 = ([1,2,3,4,5], ('Sd',56,4),'Sda')

In [64]:
t1[0][2]

3

In [66]:
t1[1][0]

'Sd'

In [67]:
t1[0][2] = 'Ashi'

In [68]:
t1

([1, 2, 'Ashi', 4, 5], ('Sd', 56, 4), 'Sda')

In [71]:
# so we can change list elements inside of a tuple, there is no chance to change tuples.
# List is a mutuable entity, tuple is immutable entity
# Immutability means you cannot change at a particular index

In [73]:
t1[0] = '1as'

TypeError: 'tuple' object does not support item assignment

In [74]:
t1[0]

[1, 2, 'Ashi', 4, 5]

In [76]:
t1[1][0] = '1as'

TypeError: 'tuple' object does not support item assignment

In [77]:
#if datatype is same only then we can do the operations

In [78]:
t1 = (334,43,43,43,34,3,434)

In [79]:
list(t1)

[334, 43, 43, 43, 34, 3, 434]

In [80]:
tuple(t1)

(334, 43, 43, 43, 34, 3, 434)

In [81]:
# list to tuples and tuples to list is always possible

# SET

- It is a set of collection.
- what is set and how is it different from others

In [82]:
#it is another type of collection

In [86]:
l = [1,2,3,4,5,56,3,4,45,5,6,67,7,8,4,34,3,3,2]

In [84]:
##can you please try remove duplicate element
## here we can see that we were able to remove all the duplicates
set(l)

{1, 2, 3, 4, 5, 6, 7, 8, 34, 45, 56, 67}

In [87]:
#Set is a collection which will try to remove all the duplicate element by itself

In [89]:
## Creating a set
s = {}

In [90]:
type(s)

dict

In [91]:
s1 = {2,3,4}

In [92]:
type(s1)

set

In [93]:
#When we have not used any kind of an element and we have used only curly bracket(it is a Dictionary)
#When we have used curly bracket and we have some unique Non duplicate element its called as set

In [119]:
s2 = {1,1,2,2,23,2,3,4,4,4,4,4,}

In [108]:
s2 #By default it is removing a duplicate element, because it is the property of set

{1, 2, 3, 4, 23}

In [109]:
type(s2)

set

In [110]:
s2[0]

TypeError: 'set' object is not subscriptable

In [111]:
#slicing is not allowed in set, it is a unordered collection, it is not possible to get any indexes

In [114]:
s2 = list(s2)

In [116]:
s2

[1, 2, 3, 4, 23]

In [117]:
s2[1]

2

In [120]:
s2

{1, 2, 3, 4, 23}

In [121]:
s2.add(122324) #adding few elements into the system

In [122]:
s2

{1, 2, 3, 4, 23, 122324}

In [123]:
s2.add(23232)

In [124]:
s2

{1, 2, 3, 4, 23, 23232, 122324}

In [125]:
s2.add("asds")

In [126]:
s2

{1, 122324, 2, 23, 23232, 3, 4, 'asds'}

In [127]:
s2.add('asds')

In [128]:
s2

{1, 122324, 2, 23, 23232, 3, 4, 'asds'}

In [129]:
s2.add([1,2,3,4,4]) #List is not available inside a set. (It is different in case of set)

TypeError: unhashable type: 'list'

In [132]:
{[1,2,2,3,3,3],3,3,3,3,3,} #set always hold unordered collection of unique elements, it can only holt primitive dataset

TypeError: unhashable type: 'list'

In [134]:
{(1,2,2,3,3,3),3,3,3,3,3,}

{(1, 2, 2, 3, 3, 3), 3}

### it is not going to allow any sort of mutable type inside a set but it allows immutable inside the set such as tuples

In [137]:
{(1,2,2,3,3,3),(1,2,2,3,3,3),3,3,3,3,3} #It is going to remove the duplicate of tuples.

{(1, 2, 2, 3, 3, 3), 3}

In [145]:
s = {(1,2,2,3,3,3),(1,2,2,3,3,3),3,4,5,6,7}

In [146]:
s.remove(3) #it removes the element 3

In [147]:
s

{(1, 2, 2, 3, 3, 3), 4, 5, 6, 7}

In [148]:
s.discard(5) #it removes the element 5

In [149]:
s

{(1, 2, 2, 3, 3, 3), 4, 6, 7}

In [ ]:
#Difference between remove and discard

In [150]:
s.remove(45) #it is not present ,so it gives key error.

KeyError: 45

In [152]:
s.discard(45) #the def says if it is not a member then do nothing so thats why no error and it executes

#### set is neither mutuable nor immutable, it is a un-ordered collection, when its un-ordered collection, we wont get any indexes, we wont be able to perform a manipulation operations.

In [155]:
{'sudh','Sudh'} #set is a case sensitive element

{'Sudh', 'sudh'}

In [159]:
#whereever we want to eliminate the duplicates we go-ahead and use set, we pass the set, These comes under NLP section

In [161]:
s = {4,5,6,7,8,8,9,34,34,43,4,5,6,7,7,'ashi','deepak','deepak'}

In [162]:
s

{34, 4, 43, 5, 6, 7, 8, 9, 'ashi', 'deepak'}

# DICTIONARY

### It is another type of collection where we will be able to hold any number of elements and where we will be able to access it.

In [3]:
# We can store things in key and value pair

In [4]:
d = {}

In [5]:
type(d)

dict

In [6]:
d = {2,2,3}

In [7]:
type(d)

set

In [8]:
# we can compare this to an oxford dictionary (There should be a word and meaning)

In [9]:
d = {4:'sudh'}

In [10]:
d

{4: 'sudh'}

In [11]:
#here 4 is a key and 'sudh is value pair'

In [12]:
d1 = {"Key1":12345, "Key2" : 'Ashi', 'Key3': [2,3,4,5,6]}

In [13]:
d1

{'Key1': 12345, 'Key2': 'Ashi', 'Key3': [2, 3, 4, 5, 6]}

In [15]:
d1 = {"Key1":12345, "Key2" : 'Ashi', 45: [2,3,4,5,6]}

In [16]:
d1

{'Key1': 12345, 'Key2': 'Ashi', 45: [2, 3, 4, 5, 6]}

In [17]:
l  = [2,3,4,5,6,6]

In [18]:
d1

{'Key1': 12345, 'Key2': 'Ashi', 45: [2, 3, 4, 5, 6]}

In [20]:
#how to access 3 our of this dictinary
l[1]

3

In [21]:
d1['Key1']

12345

In [22]:
d1[45]

[2, 3, 4, 5, 6]

In [23]:
d1['Key2']

'Ashi'

In [24]:
#Dictionary is another type of a collection which holds data, in Key value fashion

#Properties

In [25]:
d = {3 : ['asdasds','dasdasd',2,1,3,4,5,6,7]}

In [26]:
d = {@ : ['asdasds','dasdasd',2,1,3,4,5,6,7]}#It dosent work with special case character

SyntaxError: invalid syntax (<ipython-input-26-559d24f487fd>, line 1)

In [29]:
d = {# : ['asdasds','dasdasd',2,1,3,4,5,6,7]}#It dosent work with special case character

SyntaxError: unexpected EOF while parsing (<ipython-input-29-fcf5f1d96afa>, line 1)

In [30]:
d = {* : ['asdasds','dasdasd',2,1,3,4,5,6,7]} #It dosent work with special case character

SyntaxError: invalid syntax (<ipython-input-30-346f0a6ebfd3>, line 1)

In [31]:
d = {_4 : ['asdasds','dasdasd',2,1,3,4,5,6,7]}#It dosent work with special case character

NameError: name '_4' is not defined

In [33]:
d = {.4 : ['asdasds','dasdasd',2,1,3,4,5,6,7]} # it works as it is a decimal character

In [35]:
d = {'Ashi' : 'asdasds'} # it works with a string value

In [38]:
d = {'Ashi' : ['asdasds',12,3,4]} # it works with a List value

In [40]:
d = {'KEY': (2,3,4,5,6)} #it works with a Tuple value

In [42]:
d = {'KEY': {2,3,4,5,6}} #it works with a set Value

#### The Difference between a set and a curly braces are whenever we are trying to create a dictionary, we are supposed to create a key and value pair, if not created then it wont create a dictionary, in set yes you can create a value but it will create in a unique elements

In [46]:
d1 = {"key1" : [2,3,4,5] , "key2" : "sudh", "key1" : 45} #here are duplicates of key1, what value will it come

In [47]:
d1['key1'] # Key 1 is a repeated one and key1 is repeated and it assigns the latest value

45

#### Key value should not be duplicate, if duplicated then it only holds the recent one rather than the old value, Key should be unique at any point of the time

In [49]:
# is it possible to create a duplicate indexes? no , its a unique, but in pandas series chapter it is possible

In [50]:
d1 = {"key1" : [2,3,4,5] , "key2" : [2,3,4,5], "key1" : 45} #here the values can be same but not the keys, here it will not give any error but it will update the value.

In [51]:
d1 = {"key1" : [2,3,4,5] , "key2" : [2,3,4,5], "John" : 45}

In [53]:
d1['John']

45

In [54]:
# Creating a dictionary

d = {'Name': 'Ashish',"Mobile_No" : 1233445,'mail_id': 'ashishroyofficial@gmail.com','Key1':[1,2,3,4,5,5], "key2":(12,3,4,5,6,7),"key3":{2,2,3,4,5,6},"key4":{2:2,3:5}}

In [55]:
d

{'Name': 'Ashish',
 'Mobile_No': 1233445,
 'mail_id': 'ashishroyofficial@gmail.com',
 'Key1': [1, 2, 3, 4, 5, 5],
 'key2': (12, 3, 4, 5, 6, 7),
 'key3': {2, 3, 4, 5, 6},
 'key4': {2: 2, 3: 5}}

In [56]:
d['key3']

{2, 3, 4, 5, 6}

In [57]:
type(d['key3'])

set

In [58]:
d['key4']

{2: 2, 3: 5}

In [59]:
type(d['key4'])

dict

In [62]:
d['key4'][3] #this is a slicing operation

5

In [64]:
d.keys() #try to find list of all the keys

dict_keys(['Name', 'Mobile_No', 'mail_id', 'Key1', 'key2', 'key3', 'key4'])

In [65]:
d.values() #trying to find the list of all the values

dict_values(['Ashish', 1233445, 'ashishroyofficial@gmail.com', [1, 2, 3, 4, 5, 5], (12, 3, 4, 5, 6, 7), {2, 3, 4, 5, 6}, {2: 2, 3: 5}])

In [67]:
d.items() #to access all the items, heere we will get key value pair, as a list of a tuples.

dict_items([('Name', 'Ashish'), ('Mobile_No', 1233445), ('mail_id', 'ashishroyofficial@gmail.com'), ('Key1', [1, 2, 3, 4, 5, 5]), ('key2', (12, 3, 4, 5, 6, 7)), ('key3', {2, 3, 4, 5, 6}), ('key4', {2: 2, 3: 5})])

In [68]:
type(d.items())

dict_items

In [69]:
d = {'key1' : 'sudh', "key2" : [1,2,3,4,5]}

In [70]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4, 5]}

In [72]:
#Adding new key , or new values for new key
d['key3'] = 'kumar'

In [73]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4, 5], 'key3': 'kumar'}

In [74]:
d[4] = [1,2,3,4,56]

In [75]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4, 5], 'key3': 'kumar', 4: [1, 2, 3, 4, 56]}

In [76]:
d['key1'] = 'ashashdhasdh'

In [77]:
d

{'key1': 'ashashdhasdh',
 'key2': [1, 2, 3, 4, 5],
 'key3': 'kumar',
 4: [1, 2, 3, 4, 56]}

In [78]:
#Deleting the key value, we cannot change the key value
del d['key1']

In [79]:
d

{'key2': [1, 2, 3, 4, 5], 'key3': 'kumar', 4: [1, 2, 3, 4, 56]}

In [80]:
del d

In [81]:
d

NameError: name 'd' is not defined

In [82]:
# creating another dictionary
d1 = {'key1':'sudh','key2':[3,4,5,6,6,7]}

In [83]:
d1[[1,2,3]] = 'ineuron' #Key as a list is not going to work

TypeError: unhashable type: 'list'

In [84]:
d1[(1,2,3)] = 'ineuron' #key as a tuple is going to work

In [85]:
d1 #key is supposed to be a immutable element

{'key1': 'sudh', 'key2': [3, 4, 5, 6, 6, 7], (1, 2, 3): 'ineuron'}

In [88]:
d1.get('asdas') #if there is no value present inside, it dosent give you any value

In [90]:
d1.get('key1') #if there is a value then it gives out the value of the key

'sudh'

In [102]:
d1 = {'key1':"ineuron","key":'FSDS'}

In [92]:
d2 = {'key2':456,'key3':[2,2,2,2,]}

In [95]:
d1.update(d2) #it has updated d1 with d2, it has basically combined it, this is kind of a append function

In [94]:
d1

{'key1': 'ineuron', 'key': 'FSDS', 'key2': 456, 'key3': [2, 2, 2, 2]}

In [96]:
d2

{'key2': 456, 'key3': [2, 2, 2, 2]}

In [99]:
d1+d2 #it works in list, it doesent work in dictionary although it is homogenious statement

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [103]:
d1

{'key1': 'ineuron', 'key': 'FSDS'}

In [104]:
d2

{'key2': 456, 'key3': [2, 2, 2, 2]}

In [105]:
d1

{'key1': 'ineuron', 'key': 'FSDS'}

In [107]:
key = ('name','mobile_no','email_id')
value = "sudh"

In [110]:
d = d1.fromkeys(key,value) # it will map and create a new dictionary for us

In [109]:
d

{'name': 'sudh', 'mobile_no': 'sudh', 'email_id': 'sudh'}