In [ ]:
# This is a very powerful language..

In [ ]:
import mysql.connector as conn

In [ ]:
mydb = conn.connect(host = 'localhost',user = "root", passwd = "9886567211")

In [ ]:
cursor = mydb.cursor()

In [ ]:
cursor.execute("show databases")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron2")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron")

In [ ]:
cursor.fetchall()

In [ ]:
# select certain data based on certain conditions
cursor.execute("select col1,col5,col10 from testashi.ineuron2")

In [ ]:
cursor.fetchall()

In [ ]:
# select certain data based on certain conditions
cursor.execute("select col5,col5,col10 from testashi.ineuron2")

In [ ]:
cursor.fetchall()

In [ ]:
# select certain data based on certain conditions
cursor.execute("select * from testashi.ineuron2 where col1 = 4")

In [ ]:
cursor.fetchall()

In [ ]:
# select certain data based on certain conditions
cursor.execute("select * from testashi.ineuron2 where col1 = 4 and col11 = 1")

In [ ]:
cursor.fetchall()

In [ ]:
# select certain data based on certain conditions
cursor.execute("select * from testashi.ineuron2 where col1 = 4 and col11 = 0")

In [ ]:
cursor.fetchall()

In [ ]:
#Delete all the record or row where the col1 = 4
cursor.execute("select * from testashi.ineuron2 where col1 = 4")

In [ ]:
#Delete all the record or row where the col1 = 4
cursor.execute("delete from testashi.ineuron2 where col1 = 4")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.commit()

In [ ]:
#select operation in sql
cursor.execute("select * from testashi.ineuron2")

In [ ]:
cursor.fetchall()

In [ ]:
#Update opertation
cursor.execute("UPDATE testashi.ineuron2 SET col1 = 6, col2 = 8 where col1 = 1")

In [ ]:
mydb.commit()

In [ ]:
#select operation in sql
cursor.execute("select * from testashi.ineuron2")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron2 where col1 = 6")

In [ ]:
cursor.fetchall()

In [ ]:
#Group by operation in SQL
#This operation will just club it and show you all the operations
cursor.execute("Select count(col1), col1, col2 from testashi.ineuron2 group by col1")

In [ ]:
cursor.fetchall()

In [ ]:
#Group by
cursor.execute("select col1, count(col1), col11 from testashi.ineuron2 group by col1")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron2 where col1 = 6")

In [ ]:
cursor.fetchall()

In [ ]:
#orderby
#Group by
cursor.execute("select col1, count(col1), col11 from testashi.ineuron2 group by col1 order by col1 desc")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(*), classname from testashi.ineuron group by classname")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(*), classname from testashi.ineuron where classname = 'fsds'")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(*), classname from testashi.ineuron group by studentid")

In [ ]:
cursor.fetchall()

In [ ]:
#where is nothing but filter operations

In [ ]:
#Deleting a table
cursor.execute("drop table testashi.ineuron1")

In [ ]:
mydb.commit()

In [ ]:
#create Db
#create table
#delete table
#delete record based on condition
#insert record
#update record based on condtion
#group by
#where clause
#orderby asc,desc

In [ ]:
cursor.execute("select * from testashi.ineuron2")

In [ ]:
cursor.fetchall()

In [ ]:
# try to filter out a record where col1 value = 11 or col11 = 2
cursor.execute("select col1 , col2, col11 from testashi.ineuron2 where col1 = 11 or col11 = 2")

In [ ]:
cursor.fetchall()

In [ ]:
# try to filter out a record where col1 value = 11 and col11 = 2
cursor.execute("select col1 , col2, col11 from testashi.ineuron2 where col1 = 11 and col11 = 2")

In [ ]:
cursor.fetchall()

In [ ]:
# commit operation used in case of deletion, updation and incase of insertion operation

In [ ]:
#LIKE OPERATION
cursor.execute("select * from testashi.ineuron2 where col2 like '1.515%'")

In [ ]:
cursor.fetchall()

In [ ]:
#LIKE OPERATION
cursor.execute("select * from testashi.ineuron2 where col2 like '%.515%'")

In [ ]:
cursor.fetchall()

In [ ]:
#LIKE OPERATION
cursor.execute("select * from testashi.ineuron2 where col2 like '%.51%%'")

In [ ]:
cursor.fetchall()

In [ ]:
#sorting operation
cursor.execute("select * from testashi.ineuron2")

In [ ]:
cursor.fetchall()

In [ ]:
#orderby
cursor.execute("select * from testashi.ineuron2 order by col2")

In [ ]:
cursor.fetchall()

In [ ]:
#orderby
cursor.execute("select * from testashi.ineuron2 order by col2 desc")

In [ ]:
cursor.fetchall()

In [ ]:
#nested Query
cursor.execute("select * from testashi.ineuron2 where col1 > 112")

In [ ]:
cursor.fetchall()

In [ ]:
#nested Query ,sub queries
cursor.execute("select * from (select * from testashi.ineuron2 where col1 > 112) as zzz where zzz.col11 = 3")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron2")
cursor.fetchall()

In [ ]:
#filterout records which is appearing more than 2 times
cursor.execute("select * from testashi.ineuron2 group by col1")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron2 group by col1 having count(col1) > 2")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron2 where col1 = 6")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testashi.ineuron2 group by col1 having count(col1) > 4")

In [ ]:
cursor.fetchall()

In [ ]:
#Task - car dataset
#https://archive.ics.uci.edu/ml/machine-learning-databases/car/

#take a dataset from attached url
#create a database called as cardataset
#create a table called as car with a column name given in dataset description
#dump all the data into the car table
#try to check whether all the data is available inseide the dataset or table or not
#try to group all the data with col1 and count occurances of each and every record based on cal1 value
#try to filter a record where col3 value will be 4
#try to update a col3 with 8 whereever you have value equal to 2
#try to delete table
#try to delete database