# if Else statement, While Statements, for loop

#### it is also called as control Flow statement

In [1]:
a = 10

In [2]:
if a < 15:
    print('My Name is Ashish')
else:
    print('My Name is Not Ashish')

My Name is Ashish

In [3]:
a < 15

True

In [4]:
if a < 15: # pass statement
    pass

In [5]:
if a < 15 :
    print('My name is Ashi')

My name is Ashi

In [6]:
if 24 < 15 :
    print('My name is Ashi')

In [7]:
24 < 15

False

In [8]:
if 10 < 3 :
    print("10 is Lesser than 3")
else :
    print('if Statement is wrong')

if Statement is wrong

In [9]:
if 5 < 10 :
    print("5 is Lesser than 10") #this is an indentation of if statement
else :
    print('if Statement is wrong') #this is an indentation of Else statement

5 is Lesser than 10

In [13]:
#Multiple Statements, Multiple blocks, Multiple parameters, Multiple conditional Statements
## writing a code based in income and purchasing capability
income = 100
if income < 50 :
    print('I will be able to buy phone')
elif income < 70 :
    print('I will be able to buy a car')
elif income < 90 :
    print('I will be able to rent a house')
else:
    print('i wont be able to buy anything')

i wont be able to buy anything

In [17]:
income = int(input()) #if else statement using input function
if income < 50 :
    print('I will be able to buy phone')
elif income < 70 :
    print('I will be able to buy a car')
elif income < 90 :
    print('I will be able to rent a house')
else:
    print('i wont be able to buy anything')

10
I will be able to buy phone

### Elif, if and Nested Elif

In [20]:
Total_price = int(input())
if Total_price > 20000 :
    Discount = Total_price * .20
    print('Discount will be ',Discount)
elif Total_price <= 7000 :
    Discount = Total_price * .05
else:
    print('We wont be able to give any Discount')

50000
Discount will be  10000.0

In [24]:
Total_price = int(input()) #this is used to for discount calculations
if Total_price > 20000 :
    Discount = Total_price * .20
    print('Discount will be ',Discount)
elif Total_price <= 7000 :
    Discount = Total_price * .05
    print('Discount will be ',Discount )
else:
    print('We wont be able to give any Discount')

4565
Discount will be  228.25

In [27]:
coup = 'SUDANSHU5'
if coup == 'SUDANSHU5' :
    print('You will be able to get a discount of 5 %')
    paid_amount = 7080 - 7080*.05
    print('you will be able to get one neuron with this amount', paid_amount)
else :
    print("Kindly use a valid coupon code")

You will be able to get a discount of 5 %
you will be able to get one neuron with this amount 6726.0

In [28]:
coup = input()
if coup == 'SUDANSHU5' :
    print('You will be able to get a discount of 5 %')
    paid_amount = 7080 - 7080*.05
    print('you will be able to get one neuron with this amount', paid_amount)
else :
    print("Kindly use a valid coupon code")

asjdas
Kindly use a valid coupon code

In [29]:
coup = input()
if coup == 'SUDANSHU5' :
    print('You will be able to get a discount of 5 %')
    paid_amount = 7080 - 7080*.05
    print('you will be able to get one neuron with this amount', paid_amount)
else :
    print("Kindly use a valid coupon code")

SUDANSHU5
You will be able to get a discount of 5 %
you will be able to get one neuron with this amount 6726.0

In [31]:
study_hour = int(input()) #elif statement for study hour
if study_hour < 1 :
    print('It may take 8 - 9 month of time to make a transition')
elif study_hour < 4 and study_hour > 1:
    print('It may take 6 month for transition')
elif study_hour > 10 :
    print('It will take 3 months of time for transition')
else :
    print('It will be Difficult')

2
It may take 6 month for transition

In [1]:
a = 9
if a == 9 :
    print('Valid')

Valid

In [3]:
a = 9
if a == 9 : print('Valid') #you can perform this too but its not adviceable

Valid

# NESTED IF ELSE, ELIF STATEMENT

In [7]:
s = input("Enter a String to start : ")
course = input("Enter a Course Name : ")
service = input("Enter a Service name : ")
if s == "oneneuron" :
    if course == 'DSA' :
        print("Yes its available under one neuron and in multiple mode for job prepration and core concept")
    elif course == 'Blockchain':
        print("This is not available as of now, kindly raise your demand and we will fullfil in 60 Days")
    elif course == "FSDS" :
        print("Yes its available, you can start Learning")
    else:
        print("This course is not available Kindly raise your demand")
elif s == "oneneuronservice":
    if service == 'courserequest':
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == 'Module':
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days")
    elif service == 'doubt':
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "work with us":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours")
    else:
        print("Kindly provide us your feedback and we will fulfill")
else :
    print("Kindly connect with our team")

Enter a String to start : oneneron
Enter a Course Name : dsada
Enter a Service name : asdas
Kindly connect with our team

In [8]:
s = input("Enter a String to start : ")
course = input("Enter a Course Name : ")
service = input("Enter a Service name : ")
if s == "oneneuron" :
    if course == 'DSA' :
        print("Yes its available under one neuron and in multiple mode for job prepration and core concept")
    elif course == 'Blockchain':
        print("This is not available as of now, kindly raise your demand and we will fullfil in 60 Days")
    elif course == "FSDS" :
        print("Yes its available, you can start Learning")
    else:
        print("This course is not available Kindly raise your demand")
elif s == "oneneuronservice":
    if service == 'courserequest':
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == 'Module':
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days")
    elif service == 'doubt':
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "work with us":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours")
    else:
        print("Kindly provide us your feedback and we will fulfill")
else :
    print("Kindly connect with our team")

Enter a String to start : oneneuron
Enter a Course Name : asa
Enter a Service name : asas
This course is not available Kindly raise your demand

In [9]:
a = 10

In [10]:
a == 10

True

# WHILE LOOP, FOR LOOP, NESTED WHILE LOOP, BREAK STATEMENT, CONTINUE STATEMENT

# For LOOP

In [1]:
l = [1,2,3,4,5,6,7,8,9,0]

In [2]:
for i in l:
    print(i)
# what is i? - By default it goes to list 0, i is behaving like a local variable for a "for loop"

1
2
3
4
5
6
7
8
9
0

In [4]:
for i in l:
    print(i+2)

3
4
5
6
7
8
9
10
11
2

In [5]:
s = 'Sudh'

In [8]:
for i in s :
    print(i) #Same thing for string , it is an indvidual outcome we are able to get

S
u
d
h

In [11]:
t = (1,2,3,4,5,6,7) #Same thing with string

In [10]:
for i in t:
    print(i)

1
2
3
4
5
6
7

In [18]:
l = [1,4,5.6,5+6j,"sudh"]

In [22]:
for i in l : #take care of indentation
    print(type(i), "Type of ", i) #for looping the Type of data

<class 'int'> Type of  1
<class 'int'> Type of  4
<class 'float'> Type of  5.6
<class 'complex'> Type of  (5+6j)
<class 'str'> Type of  sudh

In [33]:
l = [1,4,5.6]
l1 = []

In [34]:
for i in l :
    print(i+2)

3
6
7.6

In [35]:
#Try to perform addition function and try to return me a list itself
for i in l :
    print(i+2)
    l1.append(i+2)

3
6
7.6

In [36]:
l1

[3, 6, 7.6]

In [56]:
l = [2,46,45,12,12,12,12,"ashi", 6+7j,[56,56,78,'Ashi']]

In [38]:
for i in l :
    if type(i) == int :
        print(i)

2
46
45
12

In [39]:
for i in l :
    if type(i) == str :
        print(i)

ashi

In [40]:
for i in l :
    if type(i) == complex :
        print(i)

(6+7j)

In [41]:
for i in l :
    if type(i) == list :
        print(i)

[56, 56, 78]

In [42]:
for i in l : #Nested if statement
    if type(i) == int :
        print(i)
    elif type(i) == list :
        for j in i :
            print(j)

2
46
45
12
56
56
78

In [44]:
for i in l : #Nested if statement
    if type(i) == int :
        print(i)
    elif type(i) == list :
        for j in i :
            if type(j) == int :
                print(j)

2
46
45
12
56
56
78

#Q1. Try to print index of all the element

#Q2. Try to extract all the list of char if element is string

#Q3. Try to return a list after doing a square of all the int element

In [59]:
# Range - 
range(4)

range(0, 4)

In [62]:
#Q1 - This is to find the index of element
for i in range(len(l)) :
    print("index" , i , "For an Element" , l[i]) #l of i refers to the elements

index 0 For an Element 2
index 1 For an Element 46
index 2 For an Element 45
index 3 For an Element 12
index 4 For an Element 12
index 5 For an Element 12
index 6 For an Element 12
index 7 For an Element ashi
index 8 For an Element (6+7j)
index 9 For an Element [56, 56, 78, 'Ashi']

In [63]:
l

[2, 46, 45, 12, 12, 12, 12, 'ashi', (6+7j), [56, 56, 78, 'Ashi']]

In [64]:
# inumerate function - it will always try to return tuples of its own indexes and elements
for i in enumerate(l):
    print(i)

(0, 2)
(1, 46)
(2, 45)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'ashi')
(8, (6+7j))
(9, [56, 56, 78, 'Ashi'])

In [65]:
# inumerate function - it will always try to return tuples of its own indexes and elements
for i,j in enumerate(l):
    print(i,j)

0 2
1 46
2 45
3 12
4 12
5 12
6 12
7 ashi
8 (6+7j)
9 [56, 56, 78, 'Ashi']

In [70]:
#Q2. Try to extract all the list of char if element is string
for i in l :
    if type(i) == str :
        l1 =[]
        for j in i :
            l1.append(j)
        print(l1)

['a', 's', 'h', 'i']

In [71]:
l = [2,46,45,12,12,12,12,"ashi","roy", 6+7j,[56,56,78,'Ashi']]

In [72]:
for i in l :
    if type(i) == str :
        l1 =[]
        for j in i :
            l1.append(j)
        print(l1)

['a', 's', 'h', 'i']
['r', 'o', 'y']

In [74]:
#Q3. Try to return a list after doing a square of all the int element
l2 = []
for i in l :
    if type(i) == int :
        l2.append(i**2)

In [75]:
l2

[4, 2116, 2025, 144, 144, 144, 144]