In [ ]:
# Write a function to input mutiple requirements, we dont know how many.

In [10]:
#Writing a function to insert multiple arguments
#maybe 100, 200, 300 or 400
def test(a,b,c,d,e):
    return a,b,c,d,e

In [11]:
test(12,34,56,76,45)

(12, 34, 56, 76, 45)

In [12]:
def test1(*args):
    return args

In [13]:
test1(45,34,45)

(45, 34, 45)

In [14]:
test1(34,34,'test',34.23)

(34, 34, 'test', 34.23)

In [15]:
test1([1,2,43,4,5],(45,45,34,23),'fsdf',(345+7j))

([1, 2, 43, 4, 5], (45, 45, 34, 23), 'fsdf', (345+7j))

In [16]:
#*args it is a notation by which it is trying to consider any number of variable that i would like to pass at any point of a time whenerver i am trying to call a function

In [17]:
def test2(*sudh):
    return sudh

In [18]:
test2("weasd",2334,"2323",3434)

('weasd', 2334, '2323', 3434)

In [19]:
#Args is not a reserved keyword, it is just a standard notation, which is able to work even if you give your name it will work

In [25]:
#This function is used in order to take specific data along with n number of data.
def test3(*args , a):
    return args, a

In [26]:
test3(34,434,34, a = 12)

((34, 434, 34), 12)

In [29]:
def test4(*ashi,a,b,c,d):
    return ashi, a,b,c,d

In [30]:
test4(1212,23232,23434,2323, a = [2,3,4,56,3,2],b=[1,23,4,5,6,7],c = 'dfdsdas', d = 3434.454)

((1212, 23232, 23434, 2323),
 [2, 3, 4, 56, 3, 2],
 [1, 23, 4, 5, 6, 7],
 'dfdsdas',
 3434.454)

In [31]:
def test5(a,b,c,d,*ashi):
    return ashi, a,b,c,d

In [32]:
test5(a = 232,b = 34, c = 3434, d = 343, "sadsd",2323,3434.54)

SyntaxError: positional argument follows keyword argument (<ipython-input-32-dec14703970a>, line 1)

In [33]:
def test6(a,b,*ashi):
    return ashi, a,b

In [35]:
test6("asdas","dasdasd",2323,2323,2323)

(('dasdasd', 2323, 2323, 2323), 'asdas')

In [36]:
def test7(a, *sudh, b, c):
    return a, sudh, b, c

#here it will consider according to the postional argument of the data.

In [39]:
test7("dasdsa", [2,3,4,5],45,4545,45,45,45,45,45, b = 4,c = 34)
#Before ashtrik it will take positional argument and after ashtrik it will take in the binding of the arguments
#Arguments always returns tuples

('dasdsa', ([2, 3, 4, 5], 45, 4545, 45, 45, 45, 45, 45), 4, 34)

In [46]:
def test8(*args):
    for i in args:
        if type(i) == list:
            return i

In [47]:
test8(34,35,6,56,34,2,[232,434,434,34,34])

[232, 434, 434, 34, 34]

In [48]:
test8(3343,43,343,4,34, [34,34,34,34],[343,43,434,34],'sddfd')

[34, 34, 34, 34]

In [52]:
def test8(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [53]:
test8(3343,43,343,4,34, [34,34,34,34],[343,43,434,34],'sddfd')

[[34, 34, 34, 34], [343, 43, 434, 34]]

In [54]:
#Write a function which will take n number of data but as a key value pair.
d = {"a" : [2,34,5,6,7,8], 6 : [3,45,45,3,3,2,2]}

In [56]:
d["a"]

[2, 34, 5, 6, 7, 8]

In [57]:
# Single * you can only pass few arguments, double ** you can pass any kind of a key value pair.(kwargs is also called as keyword arguments)
def test9(**kwargs):
    return kwargs

In [58]:
test9(3434,34,3434,343,4343,43,4)

TypeError: test9() takes 0 positional arguments but 7 were given

In [59]:
test9(a = 343, b = [34,34,343,3434,4])

{'a': 343, 'b': [34, 34, 343, 3434, 4]}

In [61]:
def test10(**ashish):
    return ashish

In [63]:
# Kwargs is not a keyword so you can give any name to it
test10(b = 4545,g = "asdas", f = [12,323,232,3232])

{'b': 4545, 'g': 'asdas', 'f': [12, 323, 232, 3232]}

In [64]:
def test11(**ashish):
    return ashish

In [65]:
test11(name = "Ashish", Age = "31", Phone_number = "12322323", mail_id = "ashishroyofficial@gmail.com", adr = "sdadsa")

{'name': 'Ashish',
 'Age': '31',
 'Phone_number': '12322323',
 'mail_id': 'ashishroyofficial@gmail.com',
 'adr': 'sdadsa'}

In [66]:
def test12(a, **ashi):
    return ashi, a

In [71]:
#It is trying to consider key value arguments along with a postional argument a
test12(23,t=23,b = 3232,c=323,d=32,e=32,f = 32)

({'t': 23, 'b': 3232, 'c': 323, 'd': 32, 'e': 32, 'f': 32}, 23)

In [73]:
#We wont be able to use single and double starrik at a time
def test13(a, **kwargs,*args):
    return a, kwargs, args

SyntaxError: invalid syntax (<ipython-input-73-dccde086f6f4>, line 2)

In [74]:
#the position has changed and it has started to work
def test14(a, *args, **kwargs):
    return a , args, kwargs

In [76]:
#We can see the difference here
test14(123123123,3123213,323123,23,23,23,23,23,2,323, g = 32131, c = 'asdasd')

(123123123,
 (3123213, 323123, 23, 23, 23, 23, 23, 2, 323),
 {'g': 32131, 'c': 'asdasd'})

# LAMBDA FUNCTION (Anonimous function) Function without a name

In [77]:
#Creating a function without creating a name

In [78]:
#Requirement (perform small task)

In [79]:
def test15(a,b):
    return a*b

In [80]:
test15(45,67)

3015

In [85]:
#if there is a very small function which needs to be executed, maybe i can write lambda
#if i have to write very complex problem we can go with the function itself
a = lambda a,b  : a*b

In [86]:
a(45,67)

3015

In [87]:
a = lambda a,b  : (a*b, a+b)

In [88]:
a(45,54)

(2430, 99)

In [90]:
a =lambda *args : args

In [91]:
a(23,2323,"dasdas")

(23, 2323, 'dasdas')

In [92]:
z = lambda x : (for i in x :print(i))

SyntaxError: invalid syntax (<ipython-input-92-322bbc13b657>, line 1)

In [96]:
z = lambda x : [i for i in x]

In [97]:
z([1,23,3,4,5])

[1, 23, 3, 4, 5]

In [98]:
l = [2,23,4,5,6,7,7]

In [102]:
l1 = []
for i in l:
    l1.append(i)

In [103]:
l1

[2, 23, 4, 5, 6, 7, 7]

In [105]:
#List Comprehension
[i for i in l]

[2, 23, 4, 5, 6, 7, 7]

In [106]:
z = lambda x : [i for i in x]

In [108]:
z([34,23,2323,23,2,32,3])

[34, 23, 2323, 23, 2, 32, 3]

In [109]:
a = lambda **kwargs : kwargs

In [110]:
a(c = 12,v = 2313, g = 2313)

{'c': 12, 'v': 2313, 'g': 2313}

In [111]:
a = 10
def test20(c,d):
    return c*d

In [112]:
test20(a,50)

500

In [113]:
a = 10
def test20(c,d):
    a=5
    return c*d

In [115]:
test20(a,50)

500

In [121]:
#here we are reassigning the value
a = 10
def test20(c,d):
    c=5
    return c*d

In [122]:
#it will consider new value of c
test20(a,50)

250

In [123]:
#it will consider new value of c
test20(10,50)

250

In [125]:
#it will consider new value of c
test20(20,50)

250

In [127]:
#here we are reassigning the value
c = 10
def test20(c,d):
    c=5
    return c*d

In [128]:
c

10

In [130]:
#Scope of c available outside the declaration is global declaration (it will be available across entire notebook)
#Scope of c available inside the function is called as Local Declaration (it is only limited to a function itself)
#Here we can see that this declaration is a global declaration

In [136]:
# 1st approach
l = [1,2,3,4,5,6,7]
l1 = []
for i in l:
    l1.append(i+2)

In [137]:
l1

[3, 4, 5, 6, 7, 8, 9]

In [138]:
#2nd Approach
def test23(a):
    l1 = []
    for i in a:
        l1.append(i+2)
    return l1

In [139]:
test23(l)

[3, 4, 5, 6, 7, 8, 9]

In [140]:
#3rd Approach 
z = lambda a : [i+2 for i in a]

In [141]:
z(l)

[3, 4, 5, 6, 7, 8, 9]

In [142]:
l

[1, 2, 3, 4, 5, 6, 7]

In [144]:
#4th approach
#List comprehension
[i+2 for i in l]

[3, 4, 5, 6, 7, 8, 9]

In [145]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49]

In [146]:
[(i**2,i+i) for i in l]

[(1, 2), (4, 4), (9, 6), (16, 8), (25, 10), (36, 12), (49, 14)]

In [148]:
#it is a control statement
[(i**2,i+i) for i in l if i < 4]

[(1, 2), (4, 4), (9, 6)]

In [153]:
# We can use return only when using a function
l1 = []
for i in l:
    if i < 4:
        l1.append((i**2,i+i))

In [154]:
l1

[(1, 2), (4, 4), (9, 6)]

In [164]:
#Return works inside a function
def test30(z):
    l1 = []
    for i in z:
        if i < 4:
            l1.append((i**2,i+i))
    return l1

In [165]:
test30(l)

[(1, 2), (4, 4), (9, 6)]

In [166]:
[(i**2,i+i) for i in l if i < 4 if i > 1]

[(4, 4), (9, 6)]

In [167]:
d = {1:1, 2 : 4, 3: 9}

In [169]:
#this is dictionary comprehension
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [175]:
d1 = {}
for i in range(10): 
    d1[i] = i**2

In [176]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [179]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# What is generator object or iterables?

In [181]:
# what is iterable?

In [183]:
#'int' object is not iterable
a = 56
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [186]:
#String is a iterable object
s = 'sudh'
for i in s : 
    print(i)

s
u
d
h

In [187]:
next(s)

TypeError: 'str' object is not an iterator

In [188]:
#What is the difference between iterable and iterator
#String is an iterable object (True or false)? True, but necessiraly has to be iterator
#String is not an iterator

In [189]:
# Difference between iterable and iterator?
# if an object is holding a value in sort of an indexes and if you are able to access it one by one with the help of indexes
# those kind of object is called as iterable by default. it is not called as iterator

In [190]:
# for loop is something which is trying to create a object into an iterator and then giving an output one by one

In [204]:
b = iter(s)

In [205]:
b

In [215]:
# How Does for loop work internally?


# Firstly iter function helps us to convert if an object is an iterable object, into an iterator using the function iter()
# then it uses a function called as next to iterate through single element
# After it gets exhausted it gives an error (Stop Iteration)
# Iterable = means an element which we can access in a sequential manner, although it doesnt mean that you will be able to access
# When we will be able to convert the same element into iterator we will be able to access the same
# Integer cannot be considered as iterable or iterator object

In [207]:
next(b)

's'

In [208]:
next(b)

'u'

In [209]:
next(b)

'd'

In [210]:
next(b)

'h'

In [211]:
next(b)

StopIteration:

In [214]:
s = "hasdhashd"
for i in s:
    print(i)

h
a
s
d
h
a
s
h
d

In [216]:
s = iter(s)

In [217]:
next(s)

'h'

In [218]:
next(s)

'a'

In [219]:
next(s)

's'

In [220]:
next(s)

'd'

In [221]:
next(s)

'h'

In [222]:
next(s)

'a'

In [223]:
next(s)

's'

In [224]:
next(s)

'h'

In [225]:
next(s)

'd'

In [226]:
#when it will exhaust itself it will give me a stop iteration
next(s)

StopIteration:

In [229]:
#List is a iterable object
l = [2,34,5,6,6,7]

In [230]:
next(l)

TypeError: 'list' object is not an iterator

In [231]:
b = iter(l)

In [232]:
next(b)

2

In [233]:
next(b)

34

In [234]:
next(b)

5

In [235]:
next(b)

6

In [236]:
next(b)

6

In [237]:
next(b

SyntaxError: unexpected EOF while parsing (<ipython-input-237-88aef67197cf>, line 1)

In [238]:
iter(45)

TypeError: 'int' object is not iterable

In [241]:
# if something is not iterable then we wont be able to access 
# for example integer value
# We cannot make int an iterable at all
# indexing is not an iterable object

In [242]:
# All iterables we can try to convert into  iterator = True
# String, list, tuple, range is an iterable, we can convert this into an iterator